.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 36px;
    font-weight: bold;
    height: 20%;
}

.counter {
    font-size: 120px;
    font-weight: bold;
    height: 50%;
}